nav{
    margin-left: 0px;
    position: absolute;
    left: 0;
    width: 10%;
}

.link{
    width: 100%;
    list-style: none;
    font-size: 24px;
    margin: 20px 0;
    border-radius: 0px 20px 20px 0px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    cursor: pointer;
    font-weight: bold;
    color: var(--font-color);
    box-shadow: var(--shadow-color) 0px 3px 4px;
    border: var(--second-bd-color) 3px solid;
    border-left: 0px;
    box-sizing: border-box;
}

.link:hover{
    background-color:var(--bg-hover);
    color: var(--font-hover);
    transition: .3s;
}
.active{
    background-color:var(--bg-hover);
    color: var(--bg-color);
    box-shadow: var(--menu-shadow) 0px 0px 25px;
    transition: .3s;
}
