
/* .dropdown-container {
    width: 300px;
    margin: 0 auto;
    position: relative;
} */

.dropdown {
    width: 300px;
    padding: 15px 15px;
    background-color: transparent;
    color: var(--font-color-p);
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', serif;
    appearance: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    cursor: pointer;
    border: 3px solid var(--second-bd-color);
    z-index: 1;
    text-transform: uppercase;
    position: absolute;
    height: 61px;
    
}

.dropdown-wrapper::after {
    content: '';
    color: transparent;
    position: absolute;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent; /* Largura do triângulo */
    border-right: 15px solid transparent; /* Largura do triângulo */
    border-top: 12px solid var(--second-bd-color); /* Altura e cor do triângulo */
    margin-right: 10px;
    z-index: 0;
}
.dropdown-wrapper {
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 61px;
    z-index: 1;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

/* .dropdown:hover {
    background-color: #2a2b5c;
    border-color: #3a3bc8;
} */

.dropdown.open {
    border-bottom-width: 0px;
    color: var(--font-color-active-second)
}

.option {
    width: 300px;
    border-radius: 0px;
    /* background: var(--second-bg-color); */
    border: 0px;
    padding: 10px 10px;
    /* height: 20px; */
    
}

.option-wrapper {
    top: 61px;
    background-color: var(--second-bg-color);
    position: absolute;
    /* padding: 10px 10px; */
    width: 100%;
    border: 3px solid var(--second-bd-color);
    border-top-width: 0px;
    z-index: 2;
}
