:root {
  --shadow-color :#68686859;
  --menu-shadow: #1E1E1E;

/* font-color */
  --font-color-p: #ffffff ;
  --font-color-s: #fff;
  --font-hover-p: #1c1d3f;
  --font-color: #fff;

/* background color */
  --second-bg-color: #000000;
  --primary-bg-color:#1E1E1E;
  --bg-hover: #04DA60;

  /* border */
  --primary-bd-color: #03A64B;
  --second-bd-color: #04DA60;
}

