.teste{
    background-color: #11142e;
    width: 80%;
    height: 90vh;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container{
    background-color: #26274b;
    width: 400px;
    height: 300px;
    border-radius: 10px;
}
.bola{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #6fcf;
}